:host
    background-color: black

.channelfader
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: stretch
    gap: 3px
    height: 100%


.busmaster
    flex-basis: 90%


